@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@300;400;500;600;700&display=swap'); */

body{
  font-family: 'Ubuntu', sans-serif !important;
  background-color: rgb(234, 230, 225) !important;
}

.contact-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}